<a href="https://colab.research.google.com/github/MaureenZac/Business-Analytics-with-Python/blob/main/Salary_Tax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
x=int(input("Enter the sal:"))
sal=x-250000
if x > 250000 and x < 500000:
  print("tax",x*5/100)
elif x > 500000 and x < 750000:
  print("tax",x*10/100)
elif x > 750000 and x < 1000000:
  print("tax",x*20/100)
elif x > 1000000:
  print("tax",x*30/100)

Enter the sal:900000
tax 180000.0

In [15]:
y=int(input("Enter the HRA:"))
HRA=y-250000
if y > 250000 and y < 500000:
  print("tax",y*5/100)
elif y > 500000 and y < 750000:
  print("tax",y*10/100)
elif y > 750000 and y < 1000000:
  print("tax",y*20/100)
elif y > 1000000:
  print("tax",y*30/100)

Enter the HRA:450000
tax 22500.0

In [17]:
z=int(input("Enter the SA:"))
SA=z-250000
if z > 250000 and z < 500000:
  print("tax",z*5/100)
elif z > 500000 and z < 750000:
  print("tax",z*10/100)
elif z > 750000 and z < 1000000:
  print("tax",z*20/100)
elif z > 1000000:
  print("tax",z*30/100)

Enter the SA:650000
tax 65000.0

In [18]:
p=int(input("Enter LTA:"))
LTA=p-250000
if p > 250000 and p < 500000:
  print("tax",p*5/100)
elif p > 500000 and p < 750000:
  print("tax",p*10/100)
elif p > 750000 and p < 1000000:
  print("tax",p*20/100)
elif p > 1000000:
  print("tax",p*30/100)

Enter LTA:800000
tax 160000.0