In [ ]:
x=input("Enter the first number")
y=input("Enter the second number")

Enter the first number560
Enter the second number450

In [ ]:
print(x+y)

560450

In [6]:
x=input("Enter the first number")
y=input("Enter the second number")

Enter the first number560
Enter the second number450

In [7]:
int(x)+int(y)

1010

In [8]:
int(x)-int(y)

110

In [9]:
int(x)*int(y)

252000

In [10]:
int(x)/int(y)

1.2444444444444445

In [11]:
x=int(input("Enter the first number"))
y=int(input("Enter the second number"))

Enter the first number560
Enter the second number450

In [12]:
x+y

1010

In [13]:
x-y

110

In [14]:
x*y

252000

In [15]:
x/y

1.2444444444444445

In [21]:
p=int(input("Enter the principal amount"))
n=int(input("Enter the number of years"))
r=int(input("Enter the rate of interest"))/100

Enter the principal amount50000
Enter the number of years5
Enter the rate of interest5

In [22]:
i=p*n*r

In [23]:
print(i)

1250000

In [24]:
x=int(input("Enter your mark"))

Enter your mark80

In [25]:
if x > 50 :
  print("You are pass")
if x < 50 :
  print("You are fail")

You are pass

In [26]:
x=int(input("Entery your salary"))

Entery your salary560000

In [27]:
if x > 250000 :
  print("You are taxable")
if x < 250000 :
  print("You are not taxable")

You are taxable

In [28]:
sal=int(input("Entery your salary"))
if sal > 250000:
  print("You are taxable")
if sal < 250000:
  print("You are not taxable")

Entery your salary560000
You are taxable

In [33]:
sal=int(input("Entery your salary"))
if sal > 250000:
  print("You are taxable")
  t=sal*10/100
  print("tax = ",t)
else :
  print("You are not taxable")

Entery your salary560000
You are taxable
tax =  56000.0

In [37]:
sal=int(input("Entery your salary"))
if sal > 250000:
  print("You are taxable")
  t=sal-250000
  tax=int(t*10/100)
  print("tax = ",tax)
else :
  print("You are not taxable")

Entery your salary560000
You are taxable
tax =  31000

In [40]:
sal=int(input("Entery your salary"))
if sal > 250000:
  print("You are taxable")
  if sal > 500000 :
    t=sal-250000
    tax=t*10/100
    print("tax = ",tax)
  else:
    tax=sal*20/100
    print("Your tax =",tax)
else :
  print("You are not taxable")

Entery your salary450000
You are taxable
Your tax = 90000.0